footer {
    text-align: center;
    background-color: white;
    padding: 1em 10em;
    margin-top: 1em;
}

footer .iconos{
    display: inline;
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    box-sizing: border-box;
    width: 2em;
    text-align: center;
}

footer section {
    margin-top: 10px;
}